
pydantic>=2.8.0
pydantic-settings>=2.4.0
python-dotenv

# Backend
fastapi>=0.115.0
uvicorn[standard]>=0.30.0
python-multipart

# Vector Database
qdrant-client
langchain_qdrant

# For GenAI
unstructured
unstructured[pdf]
unstructured_inference
langchain
langchain-text-splitters
langchain-community
langchain-mcp-adapters
langchain-groq
langchain-cohere
langchain-openai
langgraph
ag-ui-protocol

# Dev / Testing
ruff
pytest
httpx

# For MCP
fastmcp
